<div class="container">
  <h3 style="margin-top: 5%; margin-bottom: 5%;">Modifier un etudiant</h3>
<form #form="ngForm" (ngSubmit)="update(updateStudent.id,form)">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="updateStudent.name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="updateStudent.email">
  </div>
  <div class="mb-3">
    <label for="classe" class="form-label">classe</label>
    <select class="form-select" name="classe" [(ngModel)]="updateStudent.classe">
      <option *ngFor="let classe of allClasses" [value]="classe.name">{{ classe.name }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" >Update</button>
</form>
</div>
